.header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    height: 60px;
    padding: 0 20px;

    &__logo {
        h3 {
            color: yellow;
            font-weight: 600;
        }
    }

    &__buttons {
        button {
            margin-left: 10px;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 10px;
            min-width: 150px;
        }
    }
}